<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agency - Start Bootstrap Theme</title>
    <!-- Bootstrap Core CSS -->
    <link href="agency/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="agency/css/agency.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="agency/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    
</head>
<body id="page-top" class="index">
    
    {{! Every view gets inserted here }}
    {{{content}}}
<!-- jQuery -->
    <script src="agency/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="agency/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="agency/js/classie.js"></script>
    <script src="agency/js/cbpAnimatedHeader.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="agency/js/jqBootstrapValidation.js"></script>
    <script src="agency/js/contact_me.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="agency/js/agency.js"></script>
    <!-- Angularjs -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.15/angular-sanitize.min.js"></script>

</body>
</html>